<div class="row">
    <!-- <div class="col-sm-1"></div> -->
    <div class="col-sm-11">
        <div class="card-columns">
            <div class="card bg-primary shadow p-3 mb-5 rounded">
              <div class="card-body text-center" >
                <h1 class="card-text" style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; color: whitesmoke; ">0</h1>
                <p style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-size: larger; font-size: 18px; color: whitesmoke;">Total Patients</p>
              </div>
            </div>
            <div class="card bg-info shadow p-3 mb-5 rounded">
              <div class="card-body text-center">
                <h1 class="card-text" style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; color: whitesmoke;">0</h1>
                <p style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-size: larger; font-size: 18px; color: whitesmoke;">Total Doctors</p>
              </div>
            </div>
            <div class="card bg-primary shadow p-3 mb-5 rounded">
                <div class="card-body text-center">
                  <h1 class="card-text" style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; color: whitesmoke;">0</h1>
                  <p style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-size: larger; font-size: 18px; color: whitesmoke;">Total Hospitals</p>
                </div>
              </div>
              <div class="card bg-primary shadow p-3 mb-5 rounded">
                <div class="card-body text-center">
                  <h1 class="card-text" style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; color: whitesmoke;">0</h1>
                  <p style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-size: larger; font-size: 18px; color: whitesmoke;">Total Income</p>
                </div>
              </div>
              <div class="card bg-primary shadow p-3 mb-5 rounded">
                <div class="card-body text-center">
                  <h1 class="card-text" style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; color: whitesmoke;">0</h1>
                  <p style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-size: larger; font-size: 18px; color: whitesmoke;">Paid Appoinments</p>
                </div>
              </div>
              <div class="card bg-primary shadow p-3 mb-5 rounded">
                <div class="card-body text-center">
                  <h1 class="card-text" style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; color: whitesmoke;">0</h1>
                  <p style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-size: larger; font-size: 18px; color: whitesmoke;">Unpaid Appoinments</p>
                </div>
              </div>
          </div>
    </div>
    <div class="col-sm-1"></div>
</div>
