<router-outlet name='nav'></router-outlet>

<!-- Admin Dashboard sidebar -->
<div class="row" style="min-height: 500px;">
    <div class="col-sm-2">      
        <div class="list-group my-list" style="margin-left: 15px;">
            <a href="javascript:void(0)" (click)="searchCircular()" class="list-group-item list-group-item-action"><i class="fa fa-bank" style="font-size:24px"></i><span style="margin-left: 10px;">Dashboard</span></a>
            <a href="javascript:void(0)"  class="list-group-item list-group-item-action"><i class="fa fa-pencil-square-o" style="font-size:24px"></i><span style="margin-left: 10px;">Previous Applications</span></a>
            <a href="javascript:void(0)"  class="list-group-item list-group-item-action"><i class="fa fa-user-md" style="font-size:24px;"></i> <span style="margin-left: 15px;">Edit E-CV</span></a>
            <a href="javascript:void(0)"  class="list-group-item list-group-item-action"><i class="fa fa-wheelchair" style="font-size:24px"></i><span style="margin-left: 10px;">Blogs</span></a>
            <!-- <a href="javascript:void(0)"  class="list-group-item list-group-item-action "><i class="fa fa-user-secret" style="font-size:24px"></i><span style="margin-left: 10px;">Agents</span></a>
            <a href="javascript:void(0)"  class="list-group-item list-group-item-action "><i class="fa fa-calendar-check-o" style="font-size:24px"></i><span style="margin-left: 10px;">Appoinments</span></a>
            <a href="javascript:void(0)"  class="list-group-item list-group-item-action "><i class="fa fa-window-restore" style="font-size:24px"></i><span style="margin-left: 10px;">Doctor Categories</span></a>
            <a href="javascript:void(0)"  class="list-group-item list-group-item-action "><i class="fa fa-newspaper-o" style="font-size:21px"></i><span style="margin-left: 10px;">Banners</span></a> -->
            
          </div>
    </div>
    <div class="col-sm-1"></div>
    <div class="col-sm-9">
        <router-outlet name="pannel"></router-outlet>
    </div>
</div>
