<div class="row">
    <div class="col-sm-11">
        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">create Time</th>
                <th scope="col">Dead Time</th>
                <th scope="col">Vacancies</th>
                <th scope="col">Token</th>
              </tr>
            </thead>
            <tbody *ngFor= "let circular of circulars; let i = index">
              <tr>
                <th scope="row">{{i+1}}</th>
                <td>{{circular.name}}</td>
                <td>{{circular.startTime | date:'medium'}}</td>
                <td>{{circular.deadTime | date:'medium'}}</td>
                <td>{{circular.seats}}</td>
                <td>{{circular.token}}</td>
              </tr>
            </tbody>
          </table>
    </div>
    <div class="col-sm-1"></div>
</div>
